layout {
    pane split_direction="vertical" {
        pane {
	    name "copilot"
	    command "copilot"
	    size "60%"
	}
        pane {
	    name "log"
	    size "40%"
	    cwd "~/.local/state/.copilot/session-state/"
	}
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
