layout {
    pane split_direction="vertical" {
        pane {
	    name "copilot"
	    command "zsh"
	    args "-c" "copilot" 
	}
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
