layout {
    pane split_direction="vertical" {
        pane {
	    name "db"
	    command "zsh"
	    size "20%"
	}
        pane {
	    name "backend"
	    command "zsh"
	    size "60%"
	}
        pane {
            name "frontend"
	    command "zsh"
	    size "20%"
	}
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
