layout {
    tab name="copilot" {
        pane {
            name "copilot"
            command "gh"
            args "copilot"
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
            // plugin location="zellij:status-bar"
        }
    }
    tab name="nvim" {
        pane {
            name "pane"
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
            // plugin location="zellij:status-bar"
        }
    }
    tab name="git" {
        pane {
            name "pane"
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
            // plugin location="zellij:status-bar"
        }
    }
    tab name="back" {
        pane {
            name "pane"
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
            // plugin location="zellij:status-bar"
        }
    }
    tab name="front" {
        pane {
            name "pane"
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
            // plugin location="zellij:status-bar"
        }
    }
    tab name="test" {
        pane {
            name "pane"
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
            // plugin location="zellij:status-bar"
        }
    }
    tab name="other1" {
        pane {
            name "pane"
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
            // plugin location="zellij:status-bar"
        }
    }
}
