layout {
    tab name="copilot" {
        pane {
            name "copilot"
            command "zsh"
            args "-c" "copilot"
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
            // plugin location="zellij:status-bar"
        }
    }
    tab name="back" {
        pane {
            name "pane"
            command "zsh"
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
            // plugin location="zellij:status-bar"
        }
    }
    tab name="front" {
        pane {
            name "pane"
            command "zsh"
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
            // plugin location="zellij:status-bar"
        }
    }
    tab name="test" {
        pane {
            name "pane"
            command "zsh"
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
            // plugin location="zellij:status-bar"
        }
    }
    tab name="other1" {
        pane {
            name "pane"
            command "zsh"
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
            // plugin location="zellij:status-bar"
        }
    }
    tab name="other2" {
        pane {
            name "pane"
            command "zsh"
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
            // plugin location="zellij:status-bar"
        }
    }
}
