layout {
    tab name="copilot" {
        pane {
            name "copilot"
            command "zsh"
            args "-c" "copilot"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="tab 1" {
        pane {
            name "pane 1"
            command "zsh"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="tab 2" {
        pane {
            name "pane 1"
            command "zsh"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
